<div class="oe-page">
  <div class="oe-header">
    <div class="left">
      <div class="title-row">
        <div class="title">Order #{{ order?.companyOrderId || '-' }}
        </div>

        <span class="pill" [ngClass]="statusClass(form.status)">
          {{ form.status || 'Pending' }}
        </span>
      </div>
    </div>

    <button class="confirm-btn ref" type="button" [disabled]="isSaving || !form.companyOrderId || !form.publicCode"
      (click)="saveOrder()">

      <img class="btn-ico" src="/icons/orders/confirm.svg" alt="confirm" />
      <span>{{ isSaving ? 'Saving...' : 'Confirm Changes' }}</span>
    </button>
  </div>


  <div class="oe-card">
    <div class="card-title">Order Details</div>

    <div class="od-box">
      <div class="od-row">
        <div class="od-left">
          <div class="od-icon">
            <img src="/icons/orders/orderId.svg" alt="id" />
          </div>
          <div class="od-label">ID</div>
        </div>

        <div class="od-right">
          <input class="od-input" type="text" [(ngModel)]="form.companyOrderId" placeholder="Enter Order ID" />


        </div>
      </div>

      <div class="od-row">
        <div class="od-left">
          <div class="od-icon">
            <img src="/icons/orders/publicCode.svg" alt="publicCode" />
          </div>
          <div class="od-label">Public Code</div>
        </div>

        <div class="od-right">
          <input class="od-input" type="text" [(ngModel)]="form.publicCode" placeholder="Enter public code"
            autocomplete="off" />
        </div>
      </div>
    </div>
  </div>


  <div class="oe-card">
    <div class="card-title">Order Tracking</div>

    <div class="timeline" *ngIf="trackings.length; else emptyTrack">

      <div class="track" *ngFor="let t of trackings; let i = index">


        <div class="stepper">
          <div class="circle" [ngClass]="statusClass(t.status)">
            <img class="status-icon" [ngClass]="statusClass(t.status)" [src]="statusIcon(t.status)" alt="status" />
          </div>

          <div class="line" *ngIf="i !== trackings.length - 1" [ngClass]="statusClass(trackings[i + 1]?.status || '')">
          </div>
        </div>


        <div class="track-card ref">

          <div class="track-head ref">
            <div class="track-status">{{ t.status }}</div>


            <button class="edit-pill" *ngIf="!t.isEditing" type="button" (click)="startEditing(i)">
              <img src="/icons/orders/edit.svg" alt="edit" />
              <span>Edit</span>
            </button>



            <button class="done-pill" *ngIf="t.isEditing" type="button" (click)="finishEditing(i)">
              <img src="/icons/orders/confirm.svg" alt="done" />
              <span>Done</span>
            </button>

          </div>


          <div class="track-form ref">


            <div class="track-row ref">
              <div class="track-left ref">
                <img class="row-ico" src="/icons/orders/location.svg" />
                <span>Location</span>
              </div>

              <div class="track-mid ref">
                <input class="track-value ref" type="text" [(ngModel)]="t.location" [readonly]="!t.isEditing" />
              </div>

              <div class="track-right ref">
                <button class="track-pill ref" type="button" (click)="openMapForTracking(i)" [disabled]="!t.isEditing">
                  <span>Locate on Map</span>
                  <img class="ext" src="/icons/orders/locate.svg" />
                </button>
              </div>
            </div>


            <div class="track-row ref">
              <div class="track-left ref">
                <img class="row-ico" src="/icons/orders/scannedBy.svg" />
                <span>Scanned By</span>
              </div>

              <div class="track-mid ref">
                <input class="track-value ref" type="text" [(ngModel)]="t.scannedBy" [readonly]="!t.isEditing" />
              </div>

              <div class="track-right ref"></div>
            </div>


            <div class="track-row ref date-row">
              <div class="track-left ref">
                <img class="row-ico" src="/icons/orders/calender.svg" />
                <span>Date</span>
              </div>

              <div class="track-mid ref date-cell">
                <input class="track-value ref" type="text" [value]="formatDisplayDate(t.date)" readonly />
              </div>

              <div class="track-right ref date-right">
                <button type="button" class="date-ico-btn" (click)="toggleCalendar(i, $event); $event.stopPropagation()"
                  [disabled]="!t.isEditing">
                  <img src="/icons/orders/calender.svg" alt="calendar" />
                </button>

                <div class="calendar-dropdown tracking-cal" *ngIf="openedCalendarIndex === i"
                  (click)="$event.stopPropagation()">
                  <div class="calendar-header">
                    <button class="calendar-nav-btn" type="button" (click)="prevMonthTracking()">‹</button>
                    <div class="calendar-title">{{ trackingMonthName }} {{ trackingYearNum }}</div>
                    <button class="calendar-nav-btn" type="button" (click)="nextMonthTracking()">›</button>
                  </div>

                  <div class="calendar-weekdays">
                    <span *ngFor="let d of weekDaysShort">{{ d }}</span>
                  </div>

                  <div class="calendar-grid">
                    <ng-container *ngFor="let cell of trackingCalendarCells">
                      <ng-container *ngIf="cell; else emptyCell">
                        <button type="button" class="calendar-day"
                          [ngClass]="{ today: isToday(cell.date), selected: isTrackingSelected(t.date, cell.date) }"
                          (click)="selectTrackingDate(t, cell.date, i)">
                          {{ cell.day }}
                        </button>
                      </ng-container>

                      <ng-template #emptyCell>
                        <span class="calendar-day empty"></span>
                      </ng-template>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>


            <div class="track-row ref notes">
              <div class="track-left ref">
                <img class="row-ico" src="/icons/orders/notes.svg" />
                <span>Notes</span>
              </div>

              <div class="track-mid ref">
                <textarea class="track-notes ref" [(ngModel)]="t.notes" [readonly]="!t.isEditing"></textarea>
              </div>

              <div class="track-right ref"></div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-template #emptyTrack>
      <div class="empty-track-card">No tracking data available</div>
    </ng-template>
  </div>


  <div class="ref-backdrop" *ngIf="showMap" (click)="cancelMap()">
    <div class="ref-modal map" (click)="$event.stopPropagation()">

      <div class="map-head">
        <div class="map-title">Locate on Map</div>

        <button class="map-x" type="button" (click)="cancelMap()">
          <img src="/icons/orders/cancelled.svg" alt="close" />
        </button>
      </div>

      <app-map-picker (locationSelected)="onLocationSelected($event)"></app-map-picker>

      <button class="m-confirm" type="button" (click)="confirmMapLocation()">
        Done
      </button>
    </div>
  </div>

</div>
