@use '../../../production-lines/pages/production-lines/production-lines.scss' as *;


.btn-add{
  height:44px;
  padding:0 16px;
  border:0;
  border-radius:14px;
  background:#3ea397;
  color:#fff;
  font-size:13px;
  font-weight:700;
  cursor:pointer;

  display:inline-flex;
  align-items:center;
  gap:8px;

  &:hover {
    filter: brightness(0.92);
  }
}

.error-message{
  margin-top:6px;
  font-size:13px;
  color:#ff3b30;
  font-weight:500;
}



.col-actions {
margin-left: -25px;
}


.pl-modal {
  position: relative;
  overflow: visible !important;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  z-index: 1001;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 14px;
  margin-top: 6px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-height: 200px;
  overflow-y: auto;
  display: block;
  z-index: 999999 !important;
}

.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
  color: #4d4d4d;
}
.dropdown-selected {
  height: 48px;
  border-radius: 14px;
  border: 1px solid #e6e6e6;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-selected .arrow {
  width: 14px;
  margin-left: auto;
  margin-right: 4px;
  opacity: 0.7;
}
.dropdown-menu{
  z-index:100000;
}

.custom-dropdown.open .dropdown-selected {
  border-color: #3ea397;
  box-shadow: 0 0 0 3px rgba(62,163,151,0.15);
}

.dropdown-item:hover {
  background: #f3fbfa;
  color: #3ea397;
}
.invite-field select:focus {
  border-color: #3ea397;
  box-shadow: 0 0 0 3px rgba(62,163,151,0.15);
}

.btn-confirm{
   width: 100%;
  height: 48px;
  border-radius: 14px;
  border: 0;
  background: #3ea397;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    filter: brightness(0.92);
  }
}

.pl-field-group{
  border:1px solid #e6e6e6;
  border-radius:18px;
  background:#fff;
  overflow:visible;
}

.pl-field-label{
  display:flex;
  align-items:center;
  gap:8px;

  justify-content:flex-start;
  text-align:left;

  font-size:14px;
  font-weight:500;
  color:#4d4d4d;
  margin-bottom:8px;
}

.pl-field-item {
  padding: 14px 16px;
}

.pl-field-item + .pl-field-item {
  margin-top: -10px;
}

.pl-field-item input {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 0;
  background: #f3f3f3;
  padding: 0 14px;
  font-size: 14px;

outline:none;
  box-shadow:none;
}


