@import "../forget-password/forget-password.scss";


input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}


.login-right h1 {
  padding-top: 2rem;
    font-family: 'Lufga', 'Urbanist', sans-serif;
}

.eye-icon {
  position: absolute;
  right: 25px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.7;
}

.eye-icon:hover {
  opacity: 1;
}

.btn-primary {
  margin-top: 16px;
}
