<section class="hero-section">
  <img src="images/Hero/background.png" alt="Chainly hero" class="hero-bg-img" />

  <div class="container hero-container">
    <div class="hero-inner text-center">
      <p class="hero-label">
        It all connects with Chainly
      </p>

      <h1 class="hero-title">
        blablabla<br />
        <span class="title-highlight">Supply Chain.</span>
        See beyond the process.
      </h1>


      <p class="hero-description">
        With Chainly, you turn scattered data into clear visibility — tracking progress,
        improving<br /> efficiency, and building a smarter, more sustainable operation for tomorrow.
      </p>

      <div class="hero-actions">
        <a routerLink="/auth/login" target="_blank" class="btn btn-outline-teal">Log In</a>
        <a routerLink="/auth/register-step1-role" target="_blank" class="btn btn-teal">
          Get Started
        </a>

      </div>
    </div>
  </div>
</section>
