<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <staticContent>

      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />

      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
      <mimeMap fileExtension=".data" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".symbols.json" mimeType="application/json" />

    </staticContent>

    <rewrite>
      <rules>

        
        <rule name="Ignore Unity Files" stopProcessing="true">
          <match url="^unity/.*" />
          <action type="None" />
        </rule>


        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
