<div class="orders-page insights-page">
  <div class="orders-card">
    <div class="orders-toolbar insights-toolbar">

      <div class="orders-search">
        <img class="ico" src="/icons/insights/search.svg" />
        <input placeholder="Search with Production Line Name..." [(ngModel)]="searchText"
          (ngModelChange)="onSearchChange($event)" />
      </div>

      <button class="btn-filter" (click)="showFilterModal = true">
        <img src="/icons/insights/filter.svg" />
        <span>Filter</span>
      </button>

    </div>

    <div class="orders-table-wrap">
      <table class="orders-table">
        <thead>
          <tr>
            <th class="col-check"><input type="checkbox" /></th>
            <th class="col-no">No.</th>

            <th>
              <div class="th-inner">
                <img src="/icons/insights/productionLine.svg" />
                <span>Production Line</span>
              </div>
            </th>

            <th>
              <div class="th-inner">
                <img src="/icons/insights/totalProducts.svg" />
                <span>Total Products</span>
              </div>
            </th>

            <th>
              <div class="th-inner">
                <img src="/icons/insights/defected.svg" />
                <span>Defected</span>
              </div>
            </th>

            <th>
              <div class="th-inner">
                <img src="/icons/insights/flawless.svg" />
                <span>Flawless</span>
              </div>
            </th>

            <th>
              <div class="th-inner">
                <img src="/icons/insights/date.svg" />
                <span>Started at</span>
              </div>
            </th>

            <th>
              <div class="th-inner">
                <img src="/icons/insights/date.svg" />
                <span>Ended at</span>
              </div>
            </th>

            <th class="col-actions">
              <div class="th-inner th-actions">
                <img src="/icons/insights/actions.svg" />
                <span>Actions</span>
              </div>
            </th>
          </tr>
        </thead>

        <tbody *ngIf="insights.length; else emptyState">
          <tr *ngFor="let item of insights; let i = index">
            <td class="col-check">
              <input type="checkbox" />
            </td>
            <td class="col-no">
              {{ startIndex + i + 1 }}.
            </td>
            <td>
              {{ item.productionLineName }}
            </td>
            <td>
              {{ item.totalProducts }}
            </td>
            <td>
              <div class="ratio-cell defected">
                <span class="ratio-percent">
                  {{ item.defectiveRatio | number:'1.0-0' }}%
                </span>
                <span class="ratio-count">
                  ({{ item.defectiveProducts }})
                </span>
              </div>
            </td>
            <td>
              <div class="ratio-cell flawless">
                <span class="ratio-percent">
                  {{ item.goodRatio | number:'1.0-0' }}%
                </span>
                <span class="ratio-count">
                  ({{ item.goodProducts }})
                </span>
              </div>
            </td>
            <td>
              <div class="date-cell">
                {{ formatDate(item.startedAt) }}
              </div>
            </td>
            <td>
              <div class="date-cell">
                {{ item.endedAt ? formatDate(item.endedAt) : 'Running' }}
              </div>
            </td>
            <td class="col-actions">
              <button class="icon-btn">
                <img src="/icons/insights/view.svg" />
              </button>
            </td>
          </tr>
        </tbody>

        <ng-template #emptyState>
          <tbody>
            <tr>
              <td class="empty-cell" colspan="8">
                <div class="empty">
                  <div class="empty-text">No data to show</div>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>


    <div class="orders-pager">
      <div class="left">
        Showing {{ totalCount ? (startIndex + 1) : 0 }} :: {{ endIndex }} of {{ totalCount }}
      </div>

      <div class="middle">
        <button class="nav-icon" type="button" (click)="prevPage()" [disabled]="pageNumber === 1">
          <img src="/icons/dashboard/left.svg" alt="Prev" />
        </button>


        <ng-container *ngFor="let p of pagesArray">
          <button *ngIf="isNumber(p)" class="page-btn" [class.active]="p === pageNumber" type="button"
            (click)="goToPage(p)">
            {{ p }}
          </button>
          <span *ngIf="!isNumber(p)" class="dots">…</span>
        </ng-container>

        <button class="nav-icon" type="button" (click)="nextPage()" [disabled]="pageNumber === totalPages">
          <img src="/icons/dashboard/right.svg" alt="Next" />
        </button>
      </div>

      <div class="right">
        <span>Go to page</span>
        <input type="number" [ngModel]="pageNumber" (ngModelChange)="goToPage($event)" />
      </div>
    </div>
  </div>

  <div class="pl-backdrop" *ngIf="showFilterModal" (click)="showFilterModal = false">
    <div class="pl-modal" (click)="$event.stopPropagation()">
      <div class="pl-modal-top-icon">
        <img src="/icons/insights/filterBy.svg" />
      </div>
      <h3>Filter By</h3>
      <div class="invite-field">
        <div class="invite-label">
          <img src="/icons/insights/productionLinePopUp.svg" />
          <span>Production Line</span>
        </div>
        <div class="custom-dropdown" [class.open]="showPLDropdown">
          <div class="dropdown-selected" (click)="togglePLDropdown(); $event.stopPropagation()">
            {{ selectedProductionLineId
            ? getSelectedProductionLineName()
            : 'Select Production Line' }}
            <img src="/icons/insights/arrowDown.svg" class="arrow" />
          </div>
          <div class="dropdown-menu" *ngIf="showPLDropdown" (click)="$event.stopPropagation()">
            <div class="dropdown-item" *ngFor="let item of productionLines"
              (click)="selectProductionLine(item); $event.stopPropagation()">
              {{ item.lineName }}
            </div>
          </div>
        </div>
      </div>
      <div class="filter-dates">
        <div class="date-picker-wrapper">
          <div class="date-pill" (click)="toggleCalendar('start')">
            <span>
              {{ startDateLabel }}
            </span>
            <img src="/icons/insights/datePopUp.svg" />
          </div>
          <div class="calendar-dropdown" *ngIf="isStartCalendarOpen">
            <div class="calendar-header">
              <button class="calendar-nav-btn" (click)="prevMonth()">‹</button>
              <div class="calendar-title">
                {{ calendarMonthName }} {{ calendarYearNum }}
              </div>
              <button class="calendar-nav-btn" (click)="nextMonth()">›</button>
            </div>
            <div class="calendar-weekdays">
              <span *ngFor="let d of weekDaysShort">{{ d }}</span>
            </div>
            <div class="calendar-grid">
              <ng-container *ngFor="let cell of calendarCells">
                <ng-container *ngIf="cell; else emptyCell">
                  <button class="calendar-day" [ngClass]="{
    selected: startDate && cell.date.getTime() === startDate.getTime()
  }" (click)="selectStartDate(cell.date)">
                    {{ cell.day }}
                  </button>
                </ng-container>
                <ng-template #emptyCell>
                  <span class="calendar-day empty"></span>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="date-picker-wrapper">
          <div class="date-pill" (click)="toggleCalendar('end')">
            <span>
              {{ endDateLabel }}
            </span>
            <img src="/icons/insights/datePopUp.svg" />
          </div>
          <div class="calendar-dropdown" *ngIf="isEndCalendarOpen">
            <div class="calendar-header">
              <button class="calendar-nav-btn" (click)="prevMonth()">‹</button>
              <div class="calendar-title">
                {{ calendarMonthName }} {{ calendarYearNum }}
              </div>
              <button class="calendar-nav-btn" (click)="nextMonth()">›</button>
            </div>
            <div class="calendar-weekdays">
              <span *ngFor="let d of weekDaysShort">{{ d }}</span>
            </div>
            <div class="calendar-grid">
              <ng-container *ngFor="let cell of calendarCells">
                <ng-container *ngIf="cell; else emptyCell2">
                  <button class="calendar-day" [ngClass]="{
  selected: endDate && cell.date.getTime() === endDate.getTime()
}" (click)="selectEndDate(cell.date)">
                    {{ cell.day }}
                  </button>
                </ng-container>
                <ng-template #emptyCell2>
                  <span class="calendar-day empty"></span>
                </ng-template>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <button class="apply-filter-btn" (click)="applyFilters()">
        Apply Filter
      </button>
      <button class="clear-filter-btn" *ngIf="hasActiveFilters" (click)="clearFilters()">
        Clear Filter
      </button>
    </div>
