<div class="ref-page">
  <div class="ref-head">
    <h2 class="ref-title">Add new Supplier</h2>

    <button class="ref-confirm" type="button" (click)="confirmChanges()" [disabled]="saving">
      <img class="ico" src="/icons/suppliers/confirm.svg" alt="" />
      <span>{{ saving ? 'Saving...' : 'Confirm Changes' }}</span>
    </button>
  </div>


  <div class="ref-card">
    <div class="ref-card-h">Supplier Info</div>

    <div class="ref-info-box">
      <div class="ref-info-row">
        <div class="left">
          <img class="row-ico" src="/icons/suppliers/location.svg" alt="" />
          <span>Location</span>
        </div>

        <div class="mid">
          <span class="value" [class.placeholder]="!tempLocation">{{ selectedLocationLabel }}</span>
        </div>

        <div class="right">
          <button class="ref-pill" type="button" (click)="openMap()">
            <span>Locate on Map</span>
            <img class="ext" src="/icons/suppliers/locate.svg" alt="" />
          </button>
        </div>
      </div>

      <div class="ref-info-row">
        <div class="left">
          <img class="row-ico" src="/icons/suppliers/facility2.svg" alt="" />
          <span>Facility</span>
        </div>

        <div class="mid">
          <input class="ref-inline no-glow" [(ngModel)]="facility" placeholder="Add Facility" />
        </div>

        <div class="right"></div>
      </div>

      <div class="ref-info-row">
        <div class="left">
          <img class="row-ico" src="/icons/suppliers/sector2.svg" alt="" />
          <span>Sector</span>
        </div>

        <div class="mid">
          <input class="ref-inline no-glow" [(ngModel)]="sector" placeholder="Add Sector" />
        </div>

        <div class="right"></div>
      </div>
    </div>

    <div class="ref-name">
      <label>Name</label>
      <input [(ngModel)]="name" placeholder="Supplier name..." />
    </div>

    <div class="ref-error" *ngIf="errorMsg">{{ errorMsg }}</div>
  </div>


  <div class="ref-card">
    <div class="ref-card-h">Supplies</div>


    <div class="sup-toolbar">
      <div class="sup-search-box">
        <img class="search-ico" src="/icons/suppliers/search.svg" alt="" />
        <input placeholder="Search" [(ngModel)]="tableSearch" (ngModelChange)="onTableSearchChange()" />
      </div>
    </div>

    <div class="sup-table-wrap">
      <table class="sup-table">
        <thead>
          <tr>
            <th class="col-check">
              <input type="checkbox" [checked]="allChecked" (change)="toggleAll($event)" aria-label="Select all" />
            </th>

            <th class="col-no">No.</th>

            <th>
              <span class="th-inner">
                <img src="/icons/suppliers/name.svg" alt="" />
                <span>Name</span>
              </span>
            </th>

            <th class="col-carbon">
              <span class="th-inner">
                <img src="/icons/suppliers/carbon.svg" alt="" />
                <span>Carbon Footprint</span>
              </span>
            </th>

            <th class="col-sort">
              <button class="sup-sort-btn" type="button" title="Sort" (click)="toggleSort()">
                <img src="/icons/suppliers/sort.svg" alt="Sort" />
              </button>
            </th>

            <th class="col-actions">
              <span class="th-inner th-actions">
                <img src="/icons/suppliers/actions.svg" alt="" />
                <span>Actions</span>
              </span>
            </th>
          </tr>
        </thead>

        <tbody *ngIf="pagedSupplies.length; else emptySupplies">
          <tr *ngFor="let s of pagedSupplies; let i = index">
            <td class="col-check">
              <input type="checkbox" [checked]="checkedIds.has(s.id)" (change)="toggleRow(s.id)" aria-label="Select row" />
            </td>

            <td class="col-no">{{ startIndex + i + 1 }}</td>

            <td class="td-title" [title]="s.name">{{ s.name }}</td>

            <td class="col-carbon">
              <ng-container *ngIf="s.carbonFootprint; else dashCF">
                <span class="cf-badge">
                  <img class="cf-ico" src="/icons/supplies/carbonGreen.svg" alt="Carbon" />
                  <span>{{ s.carbonFootprint }}</span>
                </span>
              </ng-container>
              <ng-template #dashCF>-</ng-template>
            </td>

            <td class="col-sort"></td>

            <td class="col-actions">
              <button class="sup-icon-btn" type="button" title="View" (click)="viewSupply(s)">
                <img src="/icons/suppliers/eye.svg" alt="View" />
              </button>
            </td>
          </tr>
        </tbody>

        <ng-template #emptySupplies>
          <tbody>
            <tr class="empty-row">
              <td class="empty-cell" colspan="6">
                <div class="empty">
                  <button class="ref-add-supply" type="button" (click)="openAddSupplies()">
                    <img src="/icons/suppliers/addSupply.svg" alt="" />
                    <span>Add Supply</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>


    <div class="sup-pager" *ngIf="filteredSupplies.length">
      <div class="left">Showing {{ startIndex + 1 }} :: {{ endIndex }} of {{ filteredSupplies.length }}</div>

      <div class="middle">
        <button class="nav-btn" type="button" (click)="goToPage(pageNumber - 1)" [disabled]="pageNumber === 1">‹</button>
        <button class="active" type="button">{{ pageNumber }}</button>
        <button class="nav-btn" type="button" (click)="goToPage(pageNumber + 1)" [disabled]="pageNumber === totalPages">›</button>
      </div>

      <div class="right">
        <span>Go to page</span>
        <input type="number" [ngModel]="pageNumber" (ngModelChange)="goToPage($event)" />
      </div>
    </div>
  </div>


  <div class="ref-backdrop" *ngIf="addSuppliesOpen" (click)="closeAddSupplies()">
    <div class="ref-modal" (click)="$event.stopPropagation()">
      <div class="m-top">
        <img src="/icons/suppliers/addsupplies.svg" alt="" />
        <div class="m-title">Add Supplies</div>
      </div>

      <div class="m-search">
        <img src="/icons/suppliers/search.svg" alt="" />
        <input [(ngModel)]="suppliesSearch" (ngModelChange)="onSuppliesSearchChange()" placeholder="Search..." />
      </div>

      <div class="m-chips">
        <div class="chip" *ngFor="let c of selectedChips">
          <span>{{ c.name }}</span>
          <button type="button" (click)="removeChip(c.id)">×</button>
        </div>
      </div>

      <div class="m-list">
        <div class="m-loading" *ngIf="materialsLoading">Loading...</div>

        <label class="m-opt" *ngFor="let m of filteredMaterials">
          <input class="chk sm" type="checkbox" [checked]="selectedMaterialIds.has(m.id)" (change)="toggleMaterial(m.id)" />
          <span>{{ m.name }}</span>
        </label>
      </div>

      <button class="m-confirm" type="button" (click)="confirmAddSupplies()">Confirm</button>
    </div>
  </div>


  <div class="ref-backdrop" *ngIf="showMap" (click)="cancelLocation()">
    <div class="ref-modal map" (click)="$event.stopPropagation()">
      <div class="map-head">
        <div class="map-title">Locate on Map</div>
        <button class="map-x" type="button" (click)="cancelLocation()">
          <img src="/icons/suppliers/close.svg" alt="">
        </button>
      </div>

      <app-map-picker (locationSelected)="onLocationSelected($event)"></app-map-picker>

      <button class="m-confirm" type="button" (click)="confirmLocation()">Done</button>
    </div>
  </div>
</div>
