<footer class="footer">
  <div class="container-fluid">
    <div class="footer-top py-3">
      <div class="row align-items-center">

        <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center ps-lg-4 ps-xl-5">
  <div class="footer-logo d-flex align-items-center gap-1">
    <img src="images/logo.png" alt="Chainly Logo" class="footer-logo-img" />
    <span class="text-teal">Chainly</span>
  </div>
</div>


        <div class="col-lg-5 col-md-3 col-12">
          <nav class="footer-nav d-flex justify-content-center flex-wrap gap-4 ps-lg-5">
            <a href="#home" class="footer-nav-link">Home</a>
            <a href="#vision" class="footer-nav-link">Vision</a>
            <a href="#features" class="footer-nav-link">Features</a>
            <a href="#insights" class="footer-nav-link">Insights</a>
            <a href="#why-us" class="footer-nav-link">Why Us</a>
            <a href="#contact" class="footer-nav-link">Contact Us</a>
          </nav>
        </div>


        <div class="col-lg-3 col-md-4 col-12 d-flex
        justify-content-lg-end justify-content-center align-items-center mt-2 mt-lg-0 pe-lg-5">
          <div class="footer-email d-flex align-items-center gap-2">
            <div class="footer-email-item d-flex align-items-center gap-2">
              <img src="icons/footer/email.png" alt="">
              <a href="mailto:info@chainnly.tech">info@chainnly.tech</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="footer-divider" />

    <div class="footer-bottom py-3">
      <p class="footer-copyright">
        &copy; 2025 Chainly By DevIgnite. All rights reserved.
      </p>
    </div>
  </div>
</footer>
