<div class="login-page">
  <div class="login-card">
    <div class="login-left">
      <div class="image-wrapper">
        <img src="/images/Login/Left-Side.png" alt="Chainly" class="login-image" />
        <div class="login-left-text">
          <h2>
            Optimize.<br />
            Track.<br />
            Strengthen.
          </h2>
          <p>Your supply chain, synced in real time—from sourcing to delivery</p>
        </div>
      </div>
    </div>



    <div class="login-right">
      <div class="right-inner">
        <h1>Login</h1>
        <p class="subtitle">Welcome back!</p>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="field">
            <label>Email</label>
            <div class="input-wrapper" [class.error]="email.invalid && email.touched">
              <img src="/icons/login/email.svg" alt="" class="input-icon" />
              <input type="email" formControlName="email" placeholder="Email" />
            </div>
            <div class="error-text" *ngIf="email.invalid && email.touched">
              Please enter a valid email.
            </div>
          </div>



          <div class="field">
            <label>Password</label>
            <div class="input-wrapper" [class.error]="password.invalid && password.touched">
              <img src="/icons/login/lock.svg" alt="" class="input-icon" />
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password" />
              <img [src]="showPassword ? '/icons/login/eye-slash-closed-full.svg' : '/icons/login/eye.svg'" alt=""
                class="eye-icon" (click)="togglePasswordVisibility()" />



            </div>
            <div class="error-text" *ngIf="password.invalid && password.touched">
              Password is required.
            </div>
          </div>



          <div class="extra-row">
            <label class="remember-me">
              <input type="checkbox" formControlName="rememberMe" class="custom-checkbox" />
              <span>Remember me</span>
            </label>
            <a class="link-small" routerLink="/auth/forget-password">Forget Password?</a>
          </div>


          <div class="backend-error" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>


          <button class="btn-primary" type="submit" [disabled]="loading">
            {{ loading ? 'Logging in...' : 'Login' }}
          </button>
        </form>


        <div class="divider">
          <span></span>
          <p>OR</p>
          <span></span>
        </div>


        <div class="social-row">
          <button class="social-btn">
            <img src="/icons/login/google.svg" alt="Google" />
          </button>
          <button class="social-btn">
            <img src="/icons/login/apple.svg" alt="Apple" />
          </button>
          <button class="social-btn">
            <img src="/icons/login/facebook.svg" alt="Facebook" />
          </button>
        </div>

        <p class="footer-text">
          Don't have an account?
          <a routerLink="/auth/register-step1-role">Create an account</a>
        </p>

        <p class="copyright">
          © 2025 Chainly By DevIgnite. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</div>
