<section class="insights-section py-5" id="pricing">
  <div class="container">

    <div class="row mb-5">
      <div class="text-center text-lg-center">
        <p class="insights-label">Insights</p>
        <h2 class="insights-title">
          Data driven decisions with live analytics and performance metrics
        </h2>
      </div>
    </div>
    <div class="insight-card">
      <div class="insight-media">
        <img
          src="images/insights/chart-1.png"
          alt="Monitor Every Step of Your Supply Chain"
        />
      </div>
      <div class="insight-content">
        <h3>Monitor Every Step of Your Supply Chain</h3>
        <p>
          From order placement to production output, track performance metrics that keep your operations running smoothly.
        </p>
        <a
  class="btn btn-teal get-started-link"
  [routerLink]="'/auth/register-step1-role'"
  target="_blank"
  rel="noopener"
>
  Get Started
</a>

      </div>
    </div>
    <div class="insight-card insight-card--reverse">
      <div class="insight-media">
        <img
          src="images/insights/Defect-Products.png"
          alt="Measure Production Efficiency and Quality"
        />
      </div>
      <div class="insight-content">
        <h3>Measure Production Efficiency and Quality</h3>
        <p>
          Analyze defect rates to identify issues early and improve output consistency.
        </p>
        <a
  class="btn btn-teal get-started-link"
  [routerLink]="'/auth/register-step1-role'"
  target="_blank"
  rel="noopener"
>
  Get Started
</a>

      </div>
    </div>
    <div class="insight-card">
      <div class="insight-media">
        <img
          src="images/insights/orders.png"
          alt="Stay Ahead With Real Time Metrics"
        />
      </div>
      <div class="insight-content">
        <h3>Stay Ahead With Real Time Metrics</h3>
        <p>
          Follow live updates on orders, production efficiency, and trends all in one dashboard..
        </p>
       <a
  class="btn btn-teal get-started-link"
  [routerLink]="'/auth/register-step1-role'"
  target="_blank"
  rel="noopener"
>
  Get Started
</a>

      </div>
    </div>
  </div>
</section>
