<div class="page">
  <div class="card">
    <div class="toolbar">
      <div class="search-box">
        <img class="search-ico" src="/icons/productionLine/search.svg" alt="" />
        <input
          [(ngModel)]="searchText"
          (ngModelChange)="onSearchChange()"
          placeholder="Search with Production Line..."
        />
      </div>

      <button class="btn-add" (click)="openAdd()">
        <img src="/icons/productionLine/add.svg" alt="" />
        <span>Add Production Line</span>
      </button>
    </div>


    <div class="table-wrap">
      <table>
        <thead>
          <tr>
            <th class="col-check"><input type="checkbox" /></th>
            <th class="col-no">No.</th>

            <th>
              <div class="th-inner">
                <img src="/icons/productionLine/production.svg" alt="" />
                <span>Production Line</span>
              </div>
            </th>

            <th>
              <div class="th-inner">
                <img src="/icons/productionLine/description.svg" alt="" />
                <span>Description</span>
              </div>
            </th>

            <th class="col-actions">
              <div class="th-inner th-actions">
                <img src="/icons/productionLine/actions.svg" alt="" />
                <span>Actions</span>
              </div>
            </th>
          </tr>
        </thead>


        <tbody *ngIf="hasData; else emptyBody">
          <tr *ngFor="let row of items; let i = index">
            <td class="col-check"><input type="checkbox" /></td>
            <td class="col-no">{{ (pageNumber - 1) * pageSize + (i + 1) }}.</td>
            <td class="td-title">{{ row.lineName }}</td>
            <td class="td-desc">{{ row.description }}</td>

            <td class="col-actions">
              <button class="icon-btn" (click)="openEdit(row)" title="Edit">
                <img src="/icons/productionLine/edit.svg" alt="Edit" />
              </button>

              <button class="icon-btn" (click)="openDelete(row)" title="Delete">
                <img src="/icons/productionLine/delete.svg" alt="Delete" />
              </button>
            </td>
          </tr>
        </tbody>


        <ng-template #emptyBody>
          <tbody>
            <tr class="empty-row">
              <td class="empty-cell" colspan="5">
                <div class="empty">No data to show</div>
              </td>
            </tr>
          </tbody>
        </ng-template>
      </table>
    </div>


    <div class="pager">
      <div class="left">
        Showing
        {{ items.length ? ((pageNumber - 1) * pageSize + 1) : 0 }}
        ::
        {{ (pageNumber - 1) * pageSize + items.length }}
        of {{ totalCount }}
      </div>

      <div class="middle">
        <button class="nav-btn" (click)="goToPage(pageNumber - 1)" [disabled]="pageNumber === 1">
          &lt;
        </button>

        <button
          *ngFor="let p of pagesArray"
          (click)="goToPage(p)"
          [class.active]="p === pageNumber"
        >
          {{ p }}
        </button>

        <button
          class="nav-btn"
          (click)="goToPage(pageNumber + 1)"
          [disabled]="pageNumber === totalPages"
        >
          &gt;
        </button>
      </div>

      <div class="right">
        <span>Go to page</span>
        <input
          type="number"
          [value]="pageNumber"
          (change)="goToPage($any($event.target).valueAsNumber)"
        />
      </div>
    </div>
  </div>
</div>


<div class="pl-backdrop" *ngIf="isAddEditOpen" (click)="closeAddEdit()">
  <div class="pl-modal" (click)="$event.stopPropagation()">
    <div class="pl-modal-top-icon" [class.edit]="mode === 'edit'">
      <img
        [src]="mode === 'add' ? '/icons/productionLine/addproduction.svg' : '/icons/productionLine/edit.svg'"
        alt=""
      />
    </div>

    <h3>{{ mode === 'add' ? 'Add Production Line' : 'Edit Production Line' }}</h3>

    <form class="pl-modal-form" [formGroup]="form">
      <div class="pl-field pl-field-group">
        <div class="pl-field-item">
          <div class="pl-field-label">
            <img src="/icons/productionLine/production.svg" alt="" />
            <span>Production Line Name</span>
          </div>
          <input formControlName="lineName" />
        </div>

        <div class="pl-field-item">
          <div class="pl-field-label">
            <img src="/icons/productionLine/description.svg" alt="" />
            <span>Description</span>
          </div>
          <input formControlName="description" />
        </div>
      </div>

      <button class="btn-confirm" type="button" (click)="confirmAddEdit()">Confirm</button>
    </form>
  </div>
</div>


<div class="pl-backdrop" *ngIf="isDeleteOpen" (click)="closeDelete()">
  <div class="pl-modal pl-modal-danger" (click)="$event.stopPropagation()">
    <div class="pl-modal-top-icon danger">
      <img src="/icons/productionLine/wrong.svg" alt="" />
    </div>

    <h3>Delete Production Line</h3>

    <p class="danger-text">
      Are you sure you want to delete <b>{{ selected?.lineName }}</b>?<br />
      <span>This action cannot be undone.</span>
    </p>

    <div class="danger-actions">
      <button class="btn-cancel" type="button" (click)="closeDelete()">Cancel</button>
      <button class="btn-danger" type="button" (click)="confirmDelete()">Delete</button>
    </div>
  </div>
</div>
